@import "~jspsych/css/jspsych.css";

.jspsych-display-element {
    background-color: #ffffff;
}

#survey-root fieldset ul li {
    text-align: left;
    list-style: none;
}

.text-left {
    text-align: left;
}

.q-free:has(input[disabled]) {
    color: gray;
}

@import "./_spr.scss";
