@import "~jspsych/css/jspsych.css";

.jspsych-display-element {
    background-color: #ffffff;
}

.text-left {
    text-align: left;
}

.spr-root {
    &.spr-root-concealer-underline {
        .textline-segment::before,
        .textline-segment-hidden::before {
            text-decoration: underline black;
        }
    }
    &.spr-root-concealer-dash {
        .textline-segment::before,
        .textline-segment-hidden::before {
            text-decoration: line-through black;
        }
    }
    .textline-segment::before,
    .textline-segment-hidden::before {
        content: attr(data-displayText);
        text-decoration-skip-ink: none;
        color: rgba(0, 0, 0, 0);
    }
    .textline-segment-revealed::before,
    .textline-segment-shown::before {
        content: attr(data-displayText);
        color: black;
    }
}
